@font-face {
    font-family: 'alataregular';
    src: url('font/alata-regular-webfont.woff2') format('woff2'),
         url('font/alata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image:url(images/main1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    font-family: alataregular;
}

.blur{
    background-color: rgba(0, 0, 0, 0.644);
    height:100vh;
}

.front{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height:100vh;

}

nav{
    height: 55px;
    top: 20px;
    position: relative;
    font-family: alataregular;
} 

.AboutMe{
    font-size: 100%;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    scroll-behavior: smooth;
    position: relative;
    top:20px;
    padding-bottom: 3px;
}

.AboutMe:hover{
    border-bottom: 3px solid white;
    border-spacing: 1vh;
    color: white;
}


.Title{
    font-size:250%;
    color: white;
    text-align: center;
}

.MyProjects{
    font-size: 100%;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    scroll-behavior: smooth;
    position: relative;
    top:20px;
    padding-bottom: 3px;
}

.MyProjects:hover{
    border-bottom: 3px solid white;
    color: white;
}

.ResumeText{
    font-size: 100%;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline-style: solid;
}

.ResumeText:hover{
    font-size: 100%;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    background-color: black;
}

.GithubText{
    font-size: 100%;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline-style: solid;
}


.GithubText:hover{
    font-size: 100%;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    background-color: black;
}

.GithubTextBlack{
    font-size: 100%;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    outline-style: none;
}


.GithubTextBlack:hover{
    font-size: 100%;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    transition: all 250ms;
    background-color: white;
    outline-style: solid;
}

.GithubIcon{
 padding-right: 4px;
}

.header{
    color: white;
    font-size: 60px;
    position: relative;
    margin-top: 30vh;
}

.bio{
    font-size: 17px;    
    color:white;
    padding-top: 1vh;
    padding-bottom: 1vh;
}



main{
    background-color: rgba(238, 238, 238, 0.911);
    max-height: fit-content;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    padding-inline: 250px;
    text-align: center;
}

footer{
    background-color:rgb(24, 24, 24);
    height: fit-content;
    padding-bottom: 100px;
    display: inline-block;
    width: 100%;
}

.aboutme_img{
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 210px;
    width:210px;
}

.Education{
    text-align: justify;
}

.EducationHeader{
    padding-bottom: 10px;
    font-size: 20px;
}

.EducationSubheader{
    padding-bottom: 10px;
    font-size: 15px;
}

.EducationBody{
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.blackheading{
    color: rgb(24, 24, 24);
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 50px;
    font-weight:600;
}

.blacksubheading{
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight:600;
    padding-top: 20px;
}

.Bio{
    padding-bottom: 20px;
}

.aboutme_details{
    font-size: 18px;
    color: black;
}

hr{
    border: 1px solid black;
    background-color: black;
    margin-top: 50px;
}

.python{
    background: url("images/python.png") no-repeat;
    background-position: 50%;
    background-position-y: 90%;
    background-size: 12vh;
    height: 15vh;
}

.python:hover{
    background: url("images/pythonhover.png") no-repeat;
    background-position: 50%;
    background-position-y: 90%;
    background-size: 12vh;
    height: 15vh;
    transition: all 200ms;
}

.html{
    background: url("images/html.png") no-repeat;
    background-position: 50%;
    background-position-y: 90%;
    background-size: 12vh;
    height: 15vh;
}

.html:hover{
    background: url("images/htmlhover.png") no-repeat;
    background-position: 50%;
    background-position-y: 90%;
    background-size: 12vh;
    height: 15vh;
    transition: all 200ms;
}

.css{
    background: url("images/css.png") no-repeat;
    background-position: 50%;
    background-position-y: 90%;
    background-size: 12vh;
    height: 15vh;
}

.css:hover{
    background: url("images/csshover.png") no-repeat;
    background-position: 50%;
    background-position-y: 90%;
    background-size: 12vh;
    height: 15vh;
    transition: all 200ms;
}


.skills_imagetag{
    font-size: 20px;
}


footnote{
    background-color:black;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.footnote_details{
    text-align: left;
    font-family: alataregular;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    color: white;
}

@media screen and (max-height: 220px){
    .front{
        height: 6cm;
    }
    .blur{
        height: 6cm;
    }

}

@media screen and (max-width: 1201px) {
    main{
        padding-inline: 150px;
        font-size: 15px;
    }
}
@media screen and (max-width: 991px) {
    main{
        padding-inline: 70px;
        font-size: 15px;
    }
    .aboutme_img{
        height: 190px;
        width: 190px;
    }
    .textboxlarge{
        width: 12cm;
    }
}