@font-face {
    font-family: 'alataregular';
    src: url('font/alata-regular-webfont.woff2') format('woff2'),
         url('font/alata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image:url(images/main.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    font-family: alataregular;
}

.blur{
    background-color: rgba(0, 0, 0, 0.644);
    height:100vh;
}

.front{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height:100vh;

}

nav{
    height: 55px;
    top: 20px;
    position:relative;
    font-family: alataregular;
} 


.AboutMe{
    font-size: 100%;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    scroll-behavior: smooth;
    position: relative;
    top:25px;
}

.AboutMe:hover{
    border-bottom: 0.5vh solid white;
    color: white;
}


.Title{
    font-size:250%;
    color: white;
    text-align: center;
}

.Contact{
    font-size: 100%;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    scroll-behavior: smooth;
    position: relative;
    top:25px;
}

.Contact:hover{
    border-bottom: 0.5vh solid white;
    color: white;
}

.header{
    color: white;
    font-size: 6vh;
    position: relative;
    margin-top: 30vh;
}

.bio{
    font-size: 2.5vh;    
    color:white;
    padding-top: 3vh;
}

.fiverrbutton{
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-size: 13px;
    border-radius: 0px;
    transition: all 250ms;
}

.fiverrbutton:hover{
    background-color: rgb(29, 191, 115);
    color: white;
    border: 2px solid white;
}

main{
    background-color: rgba(238, 238, 238, 0.911);
    max-height: fit-content;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    padding-inline: 250px;
    text-align: center;
}

footer{
    background-color:rgb(24, 24, 24);
    height: fit-content;
    padding-bottom: 100px;
    display: inline-block;
    width: 100%;
}

.aboutme_img{
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 210px;
    width:210px;
}

.blackheading{
    color: rgb(24, 24, 24);
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 50px;
    font-weight:600;
}

.aboutme_details{
    font-size: 18px;
}

hr{
    border: 1px solid black;
    margin-top: 50px;
}

.skills_image{
    height:28vh;
    padding-top: 30px;
}

.skills_imagetag{
    font-size: 20px;
}

.gigbutton_fiverr{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.gigbutton_fiverrtext{
    text-decoration: none;
    color: black;
    border: 3px solid black;
    padding: 1%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    width: 100px;
    font-size: 20px;
    transition: all 250ms;
}

.gigbutton_fiverrtext:hover{
    background-color: rgb(29, 191, 115);
    border: 3px solid rgb(29, 191, 115);
    color: white;
}

.whiteheading{
    color: white;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}

.textboxsmall{
    background-color: rgb(24, 24, 24);
    color: white;
    border: 2px solid white;
    height: 40px;
    width: 12cm;
    font-size: 15px;
    font-family: alataregular;
    display: inline-block;
    margin-bottom: 10px;
}

.textboxlarge{
    background-color: rgb(24, 24, 24);
    color: white;
    border:2px solid white;
    height: 200px;
    font-size: 15px;
    width:24cm;
}

.emailbutton{
    font-family: alataregular;
    background-color: rgb(24, 24, 24);
    color: white;
    border: 2px solid white;
    margin-top: 10px;
    padding-inline: 5px;
    margin-bottom: 50px;
    display: inline-block;
    transition: 250ms;
}

.emailbutton:hover{
    background-color: white;
    color:black;
}

.emailaddress{
    font-family: alataregular;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


footnote{
    background-color:black;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.footnote_details{
    text-align: left;
    font-family: alataregular;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    color: white;
}

@media screen and (max-height: 220px){
    .front{
        height: 6cm;
    }
    .blur{
        height: 6cm;
    }

}

@media screen and (max-width: 1200px) {
    main{
        padding-inline: 150px;
        font-size: 15px;
    }
    .aboutme_img{
        height: 200px;
        width: 200px;
    }

    .row{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width: 991px) {
    main{
        padding-inline: 70px;
        font-size: 15px;
    }
    .aboutme_img{
        height: 190px;
        width: 190px;
    }
    .textboxlarge{
        width: 12cm;
    }
}